* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-drop{
    display: flex;
    justify-content: center;
    margin: auto;
    height:40px ;
}

.menu-drop a{
    background-color: aquamarine;
    color:white;
    display: block;
    width: 70px;
    height: 200px;
    padding: 12px;
    margin: 5px;
    text-align:center;
    text-decoration: none;

    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.intro{
  color:black;
  display: flex;
  justify-content: center;
  padding: 50px;
  margin-top: 15%;
  font-size: 20px;
  font-style: italic;
  font-family:'Lucida Sans';
}


.outro{
 
  color:black;
  font-family:'Lucida Sans';
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  margin: 200px;

}


/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
      background-color:black; /* Red */
    }

    .menu-drop{
      position: sticky;
      display: flex;
      flex-direction: column;
      height: auto;
  }

  .menu-drop a{
    width: 200px;
    padding: 12px;
    height: 60px;

    display: flex;
    flex-direction: row;
    margin-left: -180px;
    
  }

  .menu-drop a:hover{
    margin-left:0;
  }

  .intro{
    position:absolute;
    left:10%;
    top: 30px;
    color: white;
  }

  .outro{
    color: white;
    position:absolute;
    left: -20%;
    top: -20%;

  }
}
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: silver; /* Red */
      }

      .menu-drop{
          position: sticky;
          display: flex;
          flex-direction: column;
          height: auto;
      }

      .menu-drop a{
        width: 200px;
        padding: 12px;
        height: 60px;

        display: flex;
        flex-direction: row;
        margin-left: -180px;
        
      }

      .menu-drop a:hover{
        margin-left:0;
    }

    .intro{
      position:absolute;
      left:10%;
      top: 30px;
      color: white;
    }

    .outro{
      color: white;
      position:absolute;
      left:10%;
      top: -20%;

    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    body {
        background-color:white; /* Red */
      }

      .menu-drop a{
          margin-top:-180px;
      
      }

    .menu-drop a:hover{
        margin-top:0;
    }
  }
  